Dashboard_Node-Red
[{"id":"2d43fc9a.8d1ef4","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"29871a94.8656e6","type":"chatbot-telegram-receive","z":"2d43fc9a.8d1ef4","bot":"8cb274db.083dd8","botProduction":"","x":130,"y":60,"wires":[["a93d0c25.ea76b","b693510.fa23cb"]]},{"id":"8a6abc9e.94811","type":"chatbot-telegram-send","z":"2d43fc9a.8d1ef4","bot":"8cb274db.083dd8","botProduction":"","track":true,"passThrough":false,"outputs":1,"x":470,"y":120,"wires":[["cb4c4cd1.7829c"]],"outputLabels":["Choice"]},{"id":"cb4c4cd1.7829c","type":"switch","z":"2d43fc9a.8d1ef4","name":"Condição","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"Register","vt":"str"},{"t":"eq","v":"Aulas","vt":"str"},{"t":"eq","v":"Local Salas","vt":"str"},{"t":"eq","v":"Help","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":680,"y":120,"wires":[["1760ca93.b7eb15"],["dbe1027.3a38e"],["c1d85fc7.fdfbf"],["8568de79.199a"]],"outputLabels":["Audio","Localização","Contato (Tel)","Texto"]},{"id":"55a66c29.abd314","type":"chatbot-telegram-send","z":"2d43fc9a.8d1ef4","bot":"8cb274db.083dd8","botProduction":"","track":true,"passThrough":false,"outputs":1,"x":1110,"y":140,"wires":[["744503d5.ea938c"]],"outputLabels":["Choice"]},{"id":"744503d5.ea938c","type":"chatbot-message","z":"2d43fc9a.8d1ef4","name":"ThankYou","message":[{"message":"{{firstName}}, Segue localização das Disciplinas ::smile:"}],"answer":false,"silent":false,"x":1320,"y":140,"wires":[["cfb18bdc.d63808"]]},{"id":"cfb18bdc.d63808","type":"chatbot-telegram-send","z":"2d43fc9a.8d1ef4","bot":"8cb274db.083dd8","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":1490,"y":140,"wires":[]},{"id":"a93d0c25.ea76b","type":"chatbot-ask","z":"2d43fc9a.8d1ef4","name":"Menu","buttons":[{"type":"keyboardButton","label":"Register"},{"type":"keyboardButton","label":"Aulas"},{"type":"keyboardButton","label":"Local Salas"},{"type":"keyboardButton","label":"Help"}],"message":"{{firstName}}: Bem-Vindo ao Sistema de Agendamento de Disciplinas.\nEscolha uma opção ::smile:","x":310,"y":120,"wires":[["8a6abc9e.94811"]]},{"id":"def31d71.2060a","type":"chatbot-ask","z":"2d43fc9a.8d1ef4","name":"RegisterMenu","buttons":[{"type":"keyboardButton","label":"Sim"},{"type":"keyboardButton","label":"Não"},{"type":"keyboardButton","label":"Help"}],"message":"{{firstName}}, Você já possui usuário?","x":280,"y":1340,"wires":[["de9e44b6.18e928"]]},{"id":"5a96d85b.574ed8","type":"switch","z":"2d43fc9a.8d1ef4","name":"Condição","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"Sim","vt":"str"},{"t":"eq","v":"Não","vt":"str"},{"t":"eq","v":"Help","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":640,"y":1340,"wires":[["37458eb6.50ed02","29d86aad.e29856"],[],[]],"outputLabels":["Audio","Localização","Contato (Tel)"]},{"id":"de9e44b6.18e928","type":"chatbot-telegram-send","z":"2d43fc9a.8d1ef4","bot":"8cb274db.083dd8","botProduction":"","track":true,"passThrough":false,"outputs":1,"x":470,"y":1340,"wires":[["5a96d85b.574ed8"]],"outputLabels":["Choice"]},{"id":"8296900d.ba071","type":"chatbot-telegram-send","z":"2d43fc9a.8d1ef4","bot":"8cb274db.083dd8","botProduction":"","track":true,"passThrough":false,"outputs":1,"x":1090,"y":1300,"wires":[["481be3de.e6a96c"]],"outputLabels":["Choice"]},{"id":"259a42f3.ffd68e","type":"sqlite","z":"2d43fc9a.8d1ef4","mydb":"ece2b159.e9e75","sqlquery":"msg.topic","sql":"","name":"Node Red DB","x":1080,"y":1360,"wires":[[]]},{"id":"481be3de.e6a96c","type":"function","z":"2d43fc9a.8d1ef4","name":"GetPassWord","func":"context.node = context.node || \"\";\ncontext.node1 = context.node1 || \"\";\n// if the messages has property a - (from first button)\nif (msg.payload.transport == \"telegram\") {\n\tcontext.node = msg.payload.content;\n}\nelse {  // otherwise it's from the other input\n\tif (msg.topic == \"Senha\") { \n\t   context.node1 = msg.payload.context;\n\t    \n\t}\n}\nif(context.node==context.node1 ){\n    msg.payload=\"equal\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1300,"y":1300,"wires":[[]],"outputLabels":["Password"]},{"id":"37458eb6.50ed02","type":"chatbot-message","z":"2d43fc9a.8d1ef4","name":"ResquestPassWord","message":[{"message":"Qual a senha?"}],"answer":false,"silent":false,"x":870,"y":1300,"wires":[["8296900d.ba071"]]},{"id":"29d86aad.e29856","type":"function","z":"2d43fc9a.8d1ef4","name":"GetPassWord","func":"//msg.topic=\"Select Users.user_password FROM Users WHERE Users.user_name=\"+msg.payload+\";\"\nmsg.topic=\"SELECT user_password FROM Users WHERE user_name=\"+\"\\\"\"+ msg.payload.userId +\"\\\"\"+\" ORDER BY user_id DESC LIMIT 1;\";\nreturn msg","outputs":1,"noerr":0,"x":860,"y":1360,"wires":[["259a42f3.ffd68e"]],"outputLabels":["Password"]},{"id":"dbe1027.3a38e","type":"chatbot-ask","z":"2d43fc9a.8d1ef4","name":"RegisterMenu","buttons":[{"type":"keyboardButton","label":"IoT"},{"type":"keyboardButton","label":"Redes"},{"type":"keyboardButton","label":"Fisica"}],"message":"{{firstName}}, Qual aula vc deseja saber a sala e horário?","x":880,"y":540,"wires":[["96888766.475728"]]},{"id":"96888766.475728","type":"chatbot-telegram-send","z":"2d43fc9a.8d1ef4","bot":"8cb274db.083dd8","botProduction":"","track":true,"passThrough":false,"outputs":1,"x":1090,"y":540,"wires":[["6b29a1e0.d3cc9"]],"outputLabels":["Choice"]},{"id":"6b29a1e0.d3cc9","type":"switch","z":"2d43fc9a.8d1ef4","name":"Condição","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"IoT","vt":"str"},{"t":"eq","v":"Redes","vt":"str"},{"t":"eq","v":"Fisica","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1280,"y":540,"wires":[["c2175fd.219dca"],["d6ad52fc.b05b7"],["492ee727.fc2bb8"]],"outputLabels":["Audio","Localização","Contato (Tel)"]},{"id":"c2175fd.219dca","type":"function","z":"2d43fc9a.8d1ef4","name":"GetDisciplinaInfo","func":"//msg.topic=\"Select Users.user_password FROM Users WHERE Users.user_name=\"+msg.payload+\";\"\nmsg.topic=\"SELECT s_SalaDisciplina,s_ProfessorDisciplina,s_NomeDisciplina,s_Time FROM Disciplina WHERE s_NomeDisciplina=\"+\"\\\"\"+ msg.payload.content +\"\\\"\"+\" ORDER BY id_Disciplina DESC;\";\nreturn msg","outputs":1,"noerr":0,"x":1550,"y":540,"wires":[["7ca70dc6.cd4884"]],"outputLabels":["Password"]},{"id":"d6ad52fc.b05b7","type":"function","z":"2d43fc9a.8d1ef4","name":"GetDisciplinaInfo","func":"//msg.topic=\"Select Users.user_password FROM Users WHERE Users.user_name=\"+msg.payload+\";\"\nmsg.topic=\"SELECT s_SalaDisciplina,s_ProfessorDisciplina,s_NomeDisciplina,s_Time FROM Disciplina WHERE s_NomeDisciplina=\"+\"\\\"\"+ msg.payload.content +\"\\\"\"+\" ORDER BY id_Disciplina DESC;\";\nreturn msg","outputs":1,"noerr":0,"x":1550,"y":580,"wires":[["7ca70dc6.cd4884"]],"outputLabels":["Password"]},{"id":"492ee727.fc2bb8","type":"function","z":"2d43fc9a.8d1ef4","name":"GetDisciplinaInfo","func":"//msg.topic=\"Select Users.user_password FROM Users WHERE Users.user_name=\"+msg.payload+\";\"\nmsg.topic=\"SELECT s_SalaDisciplina,s_ProfessorDisciplina,s_NomeDisciplina,s_Time FROM Disciplina WHERE s_NomeDisciplina=\"+\"\\\"\"+ msg.payload.content +\"\\\"\"+\" ORDER BY id_Disciplina DESC;\";\nreturn msg","outputs":1,"noerr":0,"x":1550,"y":620,"wires":[["7ca70dc6.cd4884"]],"outputLabels":["Password"]},{"id":"7ca70dc6.cd4884","type":"sqlite","z":"2d43fc9a.8d1ef4","mydb":"ece2b159.e9e75","sqlquery":"msg.topic","sql":"","name":"Node Red DB","x":1780,"y":580,"wires":[["2ba51d6a.d98fb2"]]},{"id":"e200c5af.306a58","type":"chatbot-telegram-send","z":"2d43fc9a.8d1ef4","bot":"8cb274db.083dd8","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":2430,"y":580,"wires":[]},{"id":"2ba51d6a.d98fb2","type":"function","z":"2d43fc9a.8d1ef4","name":"SendContent","func":"var s_Sala=msg.payload[0].s_SalaDisciplina;\nvar s_Professor=msg.payload[0].s_ProfessorDisciplina;\nvar s_Disciplina=msg.payload[0].s_NomeDisciplina;\nvar s_Hour=msg.payload[0].s_Time;\nvar Class_Message=\"A Sala da Disicplina de \"+s_Disciplina+\" é \"+s_Sala+\", Ministrada pelo Professor: \"+s_Professor+\" às \"+s_Hour;\nflow.set(\"Class_Message\",Class_Message);\nreturn msg;","outputs":1,"noerr":0,"x":1970,"y":580,"wires":[["bca1c9b9.390588"]]},{"id":"4b7e3706.6b97f8","type":"function","z":"2d43fc9a.8d1ef4","name":"GetContent","func":"msg.payload.content=flow.get(\"Class_Message\");\nreturn msg;","outputs":1,"noerr":0,"x":2250,"y":580,"wires":[["e200c5af.306a58"]]},{"id":"bca1c9b9.390588","type":"chatbot-message","z":"2d43fc9a.8d1ef4","name":"Text","message":[{"message":"Hello"}],"answer":false,"silent":false,"x":2110,"y":580,"wires":[["4b7e3706.6b97f8"]]},{"id":"3fca7b90.ec3354","type":"chatbot-ask","z":"2d43fc9a.8d1ef4","name":"Hour Menu?","buttons":[{"type":"keyboardButton","label":"8:00"},{"type":"keyboardButton","label":"9:00"},{"type":"keyboardButton","label":"10:00"},{"type":"keyboardButton","label":"11:00"},{"type":"keyboardButton","label":"12:00"}],"message":"Qual o horário desejado para disciplina?","x":2050,"y":380,"wires":[["2a492277.ad195e"]]},{"id":"b693510.fa23cb","type":"function","z":"2d43fc9a.8d1ef4","name":"GetUserInfo","func":"//msg.topic=\"Select Users.user_password FROM Users WHERE Users.user_name=\"+msg.payload+\";\"\nmsg.topic=\"SELECT user_admin FROM Users WHERE user_name=\"+\"\\\"\"+ msg.payload.userId +\"\\\"\"+\" ORDER BY user_admin DESC LIMIT 1;\";\nreturn msg","outputs":1,"noerr":0,"x":254.99999618530273,"y":259.9999990463257,"wires":[["e687eab.ce49418"]],"outputLabels":["Password"]},{"id":"506f3eca.4864f","type":"function","z":"2d43fc9a.8d1ef4","name":"SendContent","func":"var s_lengthArray=msg.payload.length;\nif(s_lengthArray===0){\n    flow.set(\"User_Admin\",0);\n}else{\n    var user_admin=msg.payload[0].user_admin;\n    flow.set(\"User_Admin\",user_admin);\n    \n}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":630,"y":260,"wires":[[]]},{"id":"e687eab.ce49418","type":"sqlite","z":"2d43fc9a.8d1ef4","mydb":"ece2b159.e9e75","sqlquery":"msg.topic","sql":"","name":"Node Red DB","x":440,"y":260,"wires":[["506f3eca.4864f"]]},{"id":"1760ca93.b7eb15","type":"function","z":"2d43fc9a.8d1ef4","name":"Authenticate","func":"var user_admin=flow.get(\"User_Admin\");\nif(user_admin===1){\n    msg.payload.content=\"Admin\";\n}else{msg.payload.content=\"NotAdmin\"}\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":360,"wires":[["54eaf29c.6fa94c"]],"outputLabels":["Password"]},{"id":"54eaf29c.6fa94c","type":"switch","z":"2d43fc9a.8d1ef4","name":"Condição","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"NotAdmin","vt":"str"},{"t":"eq","v":"Admin","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1060,"y":360,"wires":[["35b3ba54.3ffdd6"],["eb77f30f.264ac"]],"outputLabels":["Audio","Localização"]},{"id":"48e39e17.8a2bf","type":"chatbot-telegram-send","z":"2d43fc9a.8d1ef4","bot":"8cb274db.083dd8","botProduction":"","track":true,"passThrough":false,"outputs":1,"x":1410,"y":300,"wires":[[]],"outputLabels":["Choice"]},{"id":"35b3ba54.3ffdd6","type":"function","z":"2d43fc9a.8d1ef4","name":"NotAdmin","func":"msg.payload.content=\"You are not an admin user! Can't register Classes\";\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":300,"wires":[["48e39e17.8a2bf"]],"outputLabels":["Password"]},{"id":"33624a9d.313ea6","type":"chatbot-telegram-send","z":"2d43fc9a.8d1ef4","bot":"8cb274db.083dd8","botProduction":"","track":true,"passThrough":false,"outputs":1,"x":1470,"y":380,"wires":[["5a3533b8.80197c"]],"outputLabels":["Choice"]},{"id":"46a15881.9ab4f8","type":"function","z":"2d43fc9a.8d1ef4","name":"RegisterDiscipline","func":"var Schedulling={Discipline:\"IoT\",Hour:\"\",Sala:\"\",Professor:\"\",id_aula:\"braiiiii\"};\nSchedulling.Professor=msg.originalMessage.userId;\nflow.set(\"Schedulling\",Schedulling);\nreturn msg;\n","outputs":1,"noerr":0,"x":1850,"y":340,"wires":[["3fca7b90.ec3354"]],"outputLabels":["Password"]},{"id":"b7124385.ebc49","type":"function","z":"2d43fc9a.8d1ef4","name":"RegisterDiscipline","func":"var Schedulling={Discipline:\"Fisica\",Hour:\"\",Sala:\"\",Professor:\"\",id_aula:\"BRAIANSAMURAI\"};\nSchedulling.Professor=msg.originalMessage.userId;\nflow.set(\"Schedulling\",Schedulling);\nreturn msg;\n","outputs":1,"noerr":0,"x":1850,"y":420,"wires":[["3fca7b90.ec3354"]],"outputLabels":["Password"]},{"id":"36ca178f.bc1ed8","type":"function","z":"2d43fc9a.8d1ef4","name":"RegisterDiscipline","func":"var Schedulling={Discipline:\"Redes\",Hour:\"\",Sala:\"\",Professor:\"\",id_aula:\"ADOFINIV\"};\nSchedulling.Professor=msg.originalMessage.userId;\nflow.set(\"Schedulling\",Schedulling);\nreturn msg;\n","outputs":1,"noerr":0,"x":1850,"y":380,"wires":[["3fca7b90.ec3354"]],"outputLabels":["Password"]},{"id":"5a3533b8.80197c","type":"switch","z":"2d43fc9a.8d1ef4","name":"Condição","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"IoT","vt":"str"},{"t":"eq","v":"Redes","vt":"str"},{"t":"eq","v":"Fisica","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1660,"y":380,"wires":[["46a15881.9ab4f8"],["36ca178f.bc1ed8"],["b7124385.ebc49"]],"outputLabels":["Audio","Localização","Contato (Tel)"]},{"id":"eb77f30f.264ac","type":"chatbot-ask","z":"2d43fc9a.8d1ef4","name":"RegisterMenu","buttons":[{"type":"keyboardButton","label":"IoT"},{"type":"keyboardButton","label":"Redes"},{"type":"keyboardButton","label":"Fisica"}],"message":"Bem vindo, professor {{firstName}}. Aqui você pode alocar salas para sua Disciplina ::smile: Qual Disciplina você irá ministrar?","x":1260,"y":380,"wires":[["33624a9d.313ea6"]]},{"id":"fa556896.358bf8","type":"function","z":"2d43fc9a.8d1ef4","name":"8:00","func":"var Temp=flow.get(\"Schedulling\");\nTemp.Hour=\"8:00\";\nflow.set(\"Schedulling\",Temp);\nmsg.topic=\"SELECT id_Disciplina FROM Disciplina WHERE s_Time=\"+\"\\\"\"+ Temp.Hour +\"\\\"\"+\" and s_NomeDisciplina=\"+\"\\\"\"+ Temp.Discipline +\"\\\"\"+ \" ORDER BY id_Disciplina DESC LIMIT 1;\";\nreturn msg;\n","outputs":1,"noerr":0,"x":2650,"y":220,"wires":[["5704abbd.4fbfc4"]],"outputLabels":["Password"]},{"id":"2a492277.ad195e","type":"chatbot-telegram-send","z":"2d43fc9a.8d1ef4","bot":"8cb274db.083dd8","botProduction":"","track":true,"passThrough":false,"outputs":1,"x":2250,"y":380,"wires":[["cab571a9.1d6de"]],"outputLabels":["Choice"]},{"id":"f09bbe41.1e9d8","type":"function","z":"2d43fc9a.8d1ef4","name":"9:00","func":"var Temp=flow.get(\"Schedulling\");\nTemp.Hour=\"9:00\";\nflow.set(\"Schedulling\",Temp);\nmsg.topic=\"SELECT id_Disciplina FROM Disciplina WHERE s_Time=\"+\"\\\"\"+ Temp.Hour +\"\\\"\"+\" and s_NomeDisciplina=\"+\"\\\"\"+ Temp.Discipline +\"\\\"\"+ \" ORDER BY id_Disciplina DESC LIMIT 1;\";\nreturn msg;\n","outputs":1,"noerr":0,"x":2650,"y":280,"wires":[["5704abbd.4fbfc4"]],"outputLabels":["Password"]},{"id":"2de133ef.39a3dc","type":"function","z":"2d43fc9a.8d1ef4","name":"10:00","func":"var Temp=flow.get(\"Schedulling\");\nTemp.Hour=\"10:00\";\nflow.set(\"Schedulling\",Temp);\nmsg.topic=\"SELECT id_Disciplina FROM Disciplina WHERE s_Time=\"+\"\\\"\"+ Temp.Hour +\"\\\"\"+\" and s_NomeDisciplina=\"+\"\\\"\"+ Temp.Discipline +\"\\\"\"+ \" ORDER BY id_Disciplina DESC LIMIT 1;\";\nreturn msg;\n","outputs":1,"noerr":0,"x":2650,"y":346.25,"wires":[["5704abbd.4fbfc4"]],"outputLabels":["Password"]},{"id":"57c91d16.1032f4","type":"function","z":"2d43fc9a.8d1ef4","name":"11:00","func":"var Temp=flow.get(\"Schedulling\");\nTemp.Hour=\"8:00\";\nflow.set(\"Schedulling\",Temp);\nmsg.topic=\"SELECT id_Disciplina FROM Disciplina WHERE s_Time=\"+\"\\\"\"+ Temp.Hour +\"\\\"\"+\" and s_NomeDisciplina=\"+\"\\\"\"+ Temp.Discipline +\"\\\"\"+ \" ORDER BY id_Disciplina DESC LIMIT 1;\";\nreturn msg;\n","outputs":1,"noerr":0,"x":2651.25,"y":413.75,"wires":[["5704abbd.4fbfc4"]],"outputLabels":["Password"]},{"id":"49087266.f7babc","type":"function","z":"2d43fc9a.8d1ef4","name":"12:00","func":"var Temp=flow.get(\"Schedulling\");\nTemp.Hour=\"8:00\";\nflow.set(\"Schedulling\",Temp);\nmsg.topic=\"SELECT id_Disciplina FROM Disciplina WHERE s_Time=\"+\"\\\"\"+ Temp.Hour +\"\\\"\"+\" and s_NomeDisciplina=\"+\"\\\"\"+ Temp.Discipline +\"\\\"\"+ \" ORDER BY id_Disciplina DESC LIMIT 1;\";\nreturn msg;\n","outputs":1,"noerr":0,"x":2650,"y":480,"wires":[["5704abbd.4fbfc4"]],"outputLabels":["Password"]},{"id":"cab571a9.1d6de","type":"switch","z":"2d43fc9a.8d1ef4","name":"Condição","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"8:00","vt":"str"},{"t":"eq","v":"9:00","vt":"str"},{"t":"eq","v":"10:00","vt":"str"},{"t":"eq","v":"11:00","vt":"str"},{"t":"eq","v":"12:00","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":2420,"y":380,"wires":[["fa556896.358bf8"],["f09bbe41.1e9d8"],["2de133ef.39a3dc"],["57c91d16.1032f4"],["49087266.f7babc"]],"outputLabels":["Audio","Localização","Contato (Tel)","",""]},{"id":"c637148b.4e7638","type":"chatbot-ask","z":"2d43fc9a.8d1ef4","name":"Qual Sala?","buttons":[{"type":"keyboardButton","label":"H200"},{"type":"keyboardButton","label":"H201"},{"type":"keyboardButton","label":"H202"},{"type":"keyboardButton","label":"H203"},{"type":"keyboardButton","label":"H204"}],"message":"Qual a sala desejada para disciplina?","x":310,"y":880,"wires":[["55766b2d.bba224"]]},{"id":"5c99213.9218ee","type":"function","z":"2d43fc9a.8d1ef4","name":"H200","func":"var Temp=flow.get(\"Schedulling\");\nTemp.Sala=\"H200\";\nflow.set(\"Schedulling\",Temp);\nmsg.topic=\"SELECT id_Disciplina FROM Disciplina WHERE s_SalaDisciplina=\"+\"\\\"\"+ Temp.Sala +\"\\\"\"+\" and s_Time=\"+\"\\\"\"+ Temp.Hour +\"\\\"\"+ \" ORDER BY id_Disciplina DESC LIMIT 1;\";\nreturn msg;\n","outputs":1,"noerr":0,"x":910,"y":720,"wires":[["2e0e9324.d0da1c"]],"outputLabels":["Password"]},{"id":"55766b2d.bba224","type":"chatbot-telegram-send","z":"2d43fc9a.8d1ef4","bot":"8cb274db.083dd8","botProduction":"","track":true,"passThrough":false,"outputs":1,"x":490,"y":880,"wires":[["602a349d.84bf6c"]],"outputLabels":["Choice"]},{"id":"7b2e3c57.a8ac04","type":"function","z":"2d43fc9a.8d1ef4","name":"H201","func":"var Temp=flow.get(\"Schedulling\");\nTemp.Sala=\"H201\";\nflow.set(\"Schedulling\",Temp);\nmsg.topic=\"SELECT id_Disciplina FROM Disciplina WHERE s_SalaDisciplina=\"+\"\\\"\"+ Temp.Sala +\"\\\"\"+\" and s_Time=\"+\"\\\"\"+ Temp.Hour +\"\\\"\"+ \" ORDER BY id_Disciplina DESC LIMIT 1;\";\nreturn msg;\n","outputs":1,"noerr":0,"x":910,"y":780,"wires":[["2e0e9324.d0da1c"]],"outputLabels":["Password"]},{"id":"602a349d.84bf6c","type":"switch","z":"2d43fc9a.8d1ef4","name":"Condição","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"H200","vt":"str"},{"t":"eq","v":"H201","vt":"str"},{"t":"eq","v":"H202","vt":"str"},{"t":"eq","v":"H203","vt":"str"},{"t":"eq","v":"H204","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":680,"y":880,"wires":[["5c99213.9218ee"],["7b2e3c57.a8ac04"],["38d9ce48.82bc52"],["9ba6bb87.0f3398"],["2457030f.2bf79c"]]},{"id":"38d9ce48.82bc52","type":"function","z":"2d43fc9a.8d1ef4","name":"H202","func":"var Temp=flow.get(\"Schedulling\");\nTemp.Sala=\"H202\";\nflow.set(\"Schedulling\",Temp);\nmsg.topic=\"SELECT id_Disciplina FROM Disciplina WHERE s_SalaDisciplina=\"+\"\\\"\"+ Temp.Sala +\"\\\"\"+\" and s_Time=\"+\"\\\"\"+ Temp.Hour +\"\\\"\"+ \"ORDER BY id_Disciplina DESC LIMIT 1;\";\nreturn msg;\n","outputs":1,"noerr":0,"x":910,"y":840,"wires":[["2e0e9324.d0da1c"]],"outputLabels":["Password"]},{"id":"9ba6bb87.0f3398","type":"function","z":"2d43fc9a.8d1ef4","name":"H203","func":"var Temp=flow.get(\"Schedulling\");\nTemp.Sala=\"H203\";\nflow.set(\"Schedulling\",Temp);\nmsg.topic=\"SELECT id_Disciplina FROM Disciplina WHERE s_SalaDisciplina=\"+\"\\\"\"+ Temp.Sala +\"\\\"\"+\" and s_Time=\"+\"\\\"\"+ Temp.Hour +\"\\\"\"+ \"ORDER BY id_Disciplina DESC LIMIT 1;\";\nreturn msg;\n","outputs":1,"noerr":0,"x":910,"y":900,"wires":[["2e0e9324.d0da1c"]],"outputLabels":["Password"]},{"id":"2457030f.2bf79c","type":"function","z":"2d43fc9a.8d1ef4","name":"H204","func":"var Temp=flow.get(\"Schedulling\");\nTemp.Sala=\"H204\";\nflow.set(\"Schedulling\",Temp);\nmsg.topic=\"SELECT id_Disciplina FROM Disciplina WHERE s_SalaDisciplina=\"+\"\\\"\"+ Temp.Sala +\"\\\"\"+\" and s_Time=\"+\"\\\"\"+ Temp.Hour +\"\\\"\"+ \"ORDER BY id_Disciplina DESC LIMIT 1;\";\nreturn msg;\n","outputs":1,"noerr":0,"x":910,"y":960,"wires":[["2e0e9324.d0da1c"]],"outputLabels":["Password"]},{"id":"2e0e9324.d0da1c","type":"sqlite","z":"2d43fc9a.8d1ef4","mydb":"ece2b159.e9e75","sqlquery":"msg.topic","sql":"","name":"Node Red DB","x":1140,"y":860,"wires":[["678916dc.397e88"]]},{"id":"678916dc.397e88","type":"function","z":"2d43fc9a.8d1ef4","name":"SendContent","func":"var s_lengthArray=msg.payload.length;\nif(s_lengthArray===0){\n    msg.payload=\"Livre\";\n}else{\n    msg.payload=\"Ocupado\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":860,"wires":[["3d7e3cea.b5bd54"]]},{"id":"3d7e3cea.b5bd54","type":"switch","z":"2d43fc9a.8d1ef4","name":"Condição","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Livre","vt":"str"},{"t":"eq","v":"Ocupado","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1480,"y":860,"wires":[["9351900d.d6b41"],["eb814f63.010ef"]]},{"id":"eb814f63.010ef","type":"chatbot-message","z":"2d43fc9a.8d1ef4","name":"Text","message":[{"message":"A Sala está alocada neste horário! Por favor tente registrar novamente em outra sala."}],"answer":false,"silent":false,"x":1630,"y":900,"wires":[["7e659751.b6b998"]]},{"id":"7e659751.b6b998","type":"chatbot-telegram-send","z":"2d43fc9a.8d1ef4","bot":"8cb274db.083dd8","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":1810,"y":900,"wires":[]},{"id":"9351900d.d6b41","type":"function","z":"2d43fc9a.8d1ef4","name":"SendContent","func":"var Temp=flow.get(\"Schedulling\");\nmsg.topic=\"INSERT INTO Disciplina (s_Time,id_Card,s_ProfessorDisciplina,s_SalaDisciplina,s_NomeDisciplina) VALUES(\"+\"\\\"\"+Temp.Hour+\"\\\"\"+\",\"+\"\\\"\"+Temp.id_aula+\"\\\"\"+\",\"+\"\\\"\"+Temp.Professor+\"\\\"\"+\",\"+\"\\\"\"+Temp.Sala +\"\\\"\"+\",\"+\"\\\"\"+ Temp.Discipline +\"\\\"\"+\")\";\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":820,"wires":[["ecd87603.eb3748"]]},{"id":"ecd87603.eb3748","type":"sqlite","z":"2d43fc9a.8d1ef4","mydb":"ece2b159.e9e75","sqlquery":"msg.topic","sql":"","name":"Node Red DB","x":1880,"y":820,"wires":[["7215219c.37b74"]]},{"id":"5319ee59.cd556","type":"sqlite","z":"2d43fc9a.8d1ef4","mydb":"ece2b159.e9e75","sqlquery":"msg.topic","sql":"","name":"Node Red DB","x":856.0001373291016,"y":1653.0006580352783,"wires":[["c22d1697.c04b48"]]},{"id":"7215219c.37b74","type":"chatbot-message","z":"2d43fc9a.8d1ef4","name":"Text","message":[{"message":"Disciplina registrada Corretamente! Obrigado."}],"answer":false,"silent":false,"x":2050,"y":820,"wires":[["56717cef.a4d5e4"]]},{"id":"56717cef.a4d5e4","type":"chatbot-telegram-send","z":"2d43fc9a.8d1ef4","bot":"8cb274db.083dd8","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":2210,"y":820,"wires":[]},{"id":"df26f1f6.a6565","type":"link in","z":"2d43fc9a.8d1ef4","name":"","links":["78ff5c70.484534"],"x":195,"y":880,"wires":[["c637148b.4e7638"]]},{"id":"5704abbd.4fbfc4","type":"sqlite","z":"2d43fc9a.8d1ef4","mydb":"ece2b159.e9e75","sqlquery":"msg.topic","sql":"","name":"Node Red DB","x":2880,"y":360,"wires":[["8764c41f.064fd8"]]},{"id":"8764c41f.064fd8","type":"function","z":"2d43fc9a.8d1ef4","name":"SendContent","func":"var s_lengthArray=msg.payload.length;\nif(s_lengthArray===0){\n    msg.payload=\"Livre\";\n}else{\n    msg.payload=\"Ocupado\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":3070,"y":360,"wires":[["209cba5.d18e546"]]},{"id":"209cba5.d18e546","type":"switch","z":"2d43fc9a.8d1ef4","name":"Condição","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Livre","vt":"str"},{"t":"eq","v":"Ocupado","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":3240,"y":360,"wires":[["78ff5c70.484534"],["15e72121.fef12f"]]},{"id":"15e72121.fef12f","type":"chatbot-message","z":"2d43fc9a.8d1ef4","name":"Text","message":[{"message":"A disciplina já foi marcada nesse horário! Registre noavmente a Disciplina em outro horário!"}],"answer":false,"silent":false,"x":3410,"y":380,"wires":[["5af8f89a.d13ad8"]]},{"id":"5af8f89a.d13ad8","type":"chatbot-telegram-send","z":"2d43fc9a.8d1ef4","bot":"8cb274db.083dd8","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":3590,"y":380,"wires":[]},{"id":"78ff5c70.484534","type":"link out","z":"2d43fc9a.8d1ef4","name":"","links":["df26f1f6.a6565"],"x":3415,"y":300,"wires":[]},{"id":"c1d85fc7.fdfbf","type":"chatbot-location","z":"2d43fc9a.8d1ef4","name":"Local","latitude":"-22.85817344742614","longitude":"-43.23232233524323","place":"NCE","x":950,"y":140,"wires":[["55a66c29.abd314"]]},{"id":"8568de79.199a","type":"function","z":"2d43fc9a.8d1ef4","name":"HelpMenu","func":"var helpMessage = \"Bem vindo ao Sistema de Agendamento de Disciplina.\\r\\n\";\nhelpMessage += \"Escolha as opções desejadas clicando na box.\\r\\n\";\nhelpMessage += \"Your chat id is \" + msg.payload.chatId+\"\\r\\n\";\nhelpMessage += \"Register para alocar salas para determinada Disciplina (somente para Professores).\\r\\n\";\nhelpMessage += \"Local Salas para ver a localização das Salas no Google Maps. \\r\\n\";\nhelpMessage += \"Aulas para ver a sala de determinad Disciplina. \\r\\n\";\nhelpMessage += \"Boa sorte: \"+msg.originalMessage.from.username;\nhelpMessage += \"\\r\\n\";\nmsg.payload.content = helpMessage;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":40,"wires":[["2b0b62e0.4c76ce"]]},{"id":"2b0b62e0.4c76ce","type":"chatbot-telegram-send","z":"2d43fc9a.8d1ef4","bot":"8cb274db.083dd8","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":1130,"y":40,"wires":[]},{"id":"803a7dfd.78523","type":"mqtt in","z":"2d43fc9a.8d1ef4","name":"Request","topic":"room/card","qos":"2","broker":"2ecb3b64.d7e1b4","x":275.27441024780273,"y":1650.3174300193787,"wires":[["19c1985f.bb46a8"]]},{"id":"5bf2b822.edadd8","type":"mqtt out","z":"2d43fc9a.8d1ef4","name":"OK2Room","topic":"room/ack","qos":"2","retain":"","broker":"2ecb3b64.d7e1b4","x":1725.2748107910156,"y":1652.3177881240845,"wires":[]},{"id":"87c809ed.8c1ab8","type":"function","z":"2d43fc9a.8d1ef4","name":"ReadDb","func":"var Node={id_nodes:\"\"};\nNode.id_nodes=msg.payload.id_node;\nflow.set(\"Node\",Node);\nvar Temp=msg.payload.id_sala;\nvar Code=msg.payload.id_aula;\nmsg.topic=\"SELECT id_Disciplina,s_NomeDisciplina,s_Time FROM Disciplina WHERE s_SalaDisciplina=\"+\"\\\"\"+ Temp +\"\\\"\"+\" and id_Card=\"+\"\\\"\"+ Code +\"\\\"\"+\" ORDER BY id_Disciplina DESC;\";\nreturn msg;","outputs":1,"noerr":0,"x":641.0195770263672,"y":1650.754228591919,"wires":[["5319ee59.cd556"]],"outputLabels":["Password"]},{"id":"19c1985f.bb46a8","type":"json","z":"2d43fc9a.8d1ef4","name":"Convet2Json","property":"payload","action":"","pretty":true,"x":458.1367416381836,"y":1652.2032642364502,"wires":[["87c809ed.8c1ab8"]]},{"id":"c22d1697.c04b48","type":"function","z":"2d43fc9a.8d1ef4","name":"DataProcess","func":"var s_lengthArray=msg.payload.length;\nvar timeA = new Date();\n//timeA.setHours(msg.payload[0].s_Time.split(\":\")[0],msg.payload[0].s_Time.split(\":\")[1],\"00\");\n//msg.payload=msg.payload[0].s_Time.split(\":\")[0];\n//var actual_date = new Date();\n//var hours = actual_date.getHours();\nif(s_lengthArray!==0){\n    var Hours=timeA.getHours();\n    var Card_hour=msg.payload[0].s_Time.split(\":\")[0];\n    var str_hours=Hours.toString();\n    msg.payload=Card_hour;\n    var tempString=\"8\";\n    if(Card_hour===tempString){\n        msg.payload=\"OK\";\n                        }\n    else{\n        msg.payload=\"Problem1\";\n    }}\n    \n    else{msg.payload=\"Problem2\";}\n\nreturn msg;","outputs":1,"noerr":0,"x":1068.51953125,"y":1652.75390625,"wires":[["119343e9.16ffec"]],"outputLabels":["Password"]},{"id":"119343e9.16ffec","type":"switch","z":"2d43fc9a.8d1ef4","name":"Condição","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"eq","v":"Problem1","vt":"str"},{"t":"eq","v":"Problem2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1258.017276763916,"y":1652.2327194213867,"wires":[["2294c082.0b0e3"],["fd819cc4.27ab3"],["fd819cc4.27ab3"]],"outputLabels":["Audio","Localização","Contato (Tel)"]},{"id":"2294c082.0b0e3","type":"function","z":"2d43fc9a.8d1ef4","name":"FucntionReturn","func":"var TempNode=flow.get(\"Node\");\n//msg.payload=TempNode.id_nodes;\n//msg.payload = \"{status:\"+\"1\"+\", id_node:\"+TempNode.id_nodes.toString()+\"}\";\nmsg.payload = {\"status\":\"1\", \"id_node\":TempNode.id_nodes};\nreturn msg;","outputs":1,"noerr":0,"x":1467.4617347717285,"y":1623.2327165603638,"wires":[["5bf2b822.edadd8"]]},{"id":"6071a9cb.f38a48","type":"debug","z":"2d43fc9a.8d1ef4","name":"Status1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1680.350872039795,"y":1764.121829032898,"wires":[]},{"id":"fd819cc4.27ab3","type":"function","z":"2d43fc9a.8d1ef4","name":"FucntionProblem","func":"var TempNode=flow.get(\"Node\");\n//msg.payload=TempNode.id_nodes;\n//msg.payload = \"{status:\"+\"1\"+\", id_node:\"+TempNode.id_nodes.toString()+\"}\";\nmsg.payload = {\"status\":\"2\", \"id_node\":TempNode.id_nodes};\nreturn msg;","outputs":1,"noerr":0,"x":1458.7952423095703,"y":1688.1216354370117,"wires":[["5bf2b822.edadd8"]]},{"id":"8cb274db.083dd8","type":"chatbot-telegram-node","z":"","botname":"My_Bot","usernames":"","providerToken":"","polling":"1000","store":"","log":"","parseMode":"","debug":false},{"id":"ece2b159.e9e75","type":"sqlitedb","z":"","db":"/home/vini/Documents/Databases/Nodedb","mode":"RW"},{"id":"2ecb3b64.d7e1b4","type":"mqtt-broker","z":"","name":"Server2Node","broker":"10.10.17.129","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]
